body {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    background-color: #FFF;
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    text-shadow: 3px 3px #000;
}

.titulo-principal {
    text-align: center;
    background-color: #10487B;
    color: #FFF;
    padding: 12rem;
}

.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}

main a:focus,
footer a:focus,
main a:hover {
    color: black;
    border: 1px solid #000;
    background-color: white;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

.rodape-pagina a {
    color: skyblue;
}

.rodape-pagina {
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-shadow: 1px 1px black;
    background-color: black;
    background-size: 25% 100%;
}

main {
    padding-bottom: 4em;
    flex-grow: 1;
}